/************************************** Kaupatakkid ********************************************/
.kauptu {
    .textiOgTakkid {

        display: flex;
        flex-direction: column;
        align-items: center;

        &__texti {
            &__spurning {
                font-family: 'Roboto Slab';
                font-style: 25px;
            }
        }
        .takkid {
            &__kaupa {
                font-style: 32px;
                color: white;
                padding: 0.5em 2.5em 0.5em 2.5em;
                border-radius: 5px;
                background-color: #696969;
            }
        }
    }
}
