/*********************************** Mynd og Comment *******************************************/
.personur {
    .myndirOgComment {
        display: flex;

        &__mc {

            width: 400px; /* 1200/3=400px */
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            &__myndir {

                width: 400px;
                height: 240px;
                display: flex;
                justify-content: center;

                &__img {
                    border-radius: 50%;
                    max-width: 15em;
                }
            }
            &__comment {
                &__hugsun {
                    font-size: 24px;
                    &--2 {
                        margin-top: 50px;
                    }
                    &--3 {
                        margin-top: 50px;
                    }
                }
                &__nafn {
                    &--2 {
                        margin-top: 32px;
                    }
                    &--3 {
                        margin-top: 32px;
                    }
                }
                &__askrift {
                    font-size: 13px;
                    color: grey;
                    margin-top: -10px;
                    &--2 {
                        margin-top: -10px;
                    }
                    &--3 {
                        margin-top: -10px;
                    }
                }
            }
        }
    }
}

