/************************************ Um FooÞjónusta *******************************************/
.upplysingar {
    .fooAuglysingar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__foo {
            display: flex;
            flex-direction: column;

            &__umFoo {
                margin-top: 2em;
                margin-bottom: 2em;

                &__meiraUmFoo {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-left: -8px;
                    margin-right: 50px;

                    &__checkImg {
                       max-width: 2em; 
                    }
                    &__thjonusta {
                       font-family:  'Roboto Slab';
                       font-size: 1.5em;
                       padding-left: 8px;
                    }
                }
                &__utskyringar {
                    margin-top: -40px;
                    padding-left: 32px;
                    line-height: 1.5em;

                    &__texti {
                        margin-right: 3em;
                    }
                }
            }
        }
        &__mynd {
           &__img  {
              max-width: 36.77em; /* 73% */
              border: 1px solid black;
              margin-right: 0;
              margin-top: 3em;
           }
        }
    }
}

