.haus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.vinstraMegin__vListi {
  display: flex;
}

.efriHluti {
  display: flex;
  background: grey;
}

.tengja {
    text-decoration: none;
}
